nav
  h3 HTML and CSS
  a(href="/w3scoala/html") Learn HTML
  a(href="/w3scoala/css") Learn CSS
  a(href="/w3scoala/javascript") Learn JavaScript
  a(href="/w3scoala/jade") Learn Jade
  a(href="/w3scoala/scss") Learn SCSS