extends ../_component/layout/template
  
block cool-config
  -
    var myTitle = "Learn to code HTML";
    var myDescription = "This is a HTML replica of w3schools.com";
    var landingPage = "";
    var activeLink = "";

block awesome-content
  h1 HTML stands for Hyper Text Markup Language
  p HTML describes the structure of Web pages using markup
  h2 HTML
  p HTML elements are the building blocks of HTML pages
  h2 HTML elements are represented by tags
  p The language for styling web pages
  h2 HTML tags label pieces of content such as "heading", "paragraph", "table", and so on
  p Browsers do not display the HTML tags, but use them to render the content of the page