extends ../_component/layout/template
  
block cool-config
  -
    var myTitle = "Learn to code HTML";
    var myDescription = "This is a HTML replica of w3schools.com";
    var landingPage = "";
    var activeLink = "";

block awesome-content
  h1 This is a replica of w3schools.com
  p CSS is a language that describes the style of an HTML document.
  h2 CSS
  p CSS describes how HTML elements should be displayed.
  h2 Advanced
  p This tutorial will teach you CSS from basic to advanced
  h2 Tip
  p This CSS tutorial contains hundreds of CSS examples.