extends ../_component/layout/template  

block cool-config
  -
    var myTitle = "Learn to code HTML";
    var myDescription = "This is a HTML replica of w3schools.com";
    var landingPage = "";
    var activeLink = "";

block awesome-content
  h1 This is a replica of w3schools.com
  p JavaScript is the programming language of HTML and the Web.
  h2 Js
  p JavaScript is easy to learn.
  h2 CSS
  p This tutorial will teach you JavaScript from basic to advanced.
  h2 JavaScript
  p The language for programming web pages
  h2 SCSS
  p The programming language for styling websites. 